{% extends "proyectowebapp/base.html" %}

{% load static %}

{% block content %}

<div class="contenedorFormulario">

    {% if "valido" in request.GET %}
        <p style="color:white";> Información enviada correctamente </p>

    {% endif %}


    <form action="" method="POST" style="text-align: center;">
        {% csrf_token %} <!--clave de seguridad para el formulario-->
        <table style=" color: white; margin: 20px auto;">{{miformulario.as_table}}</table>
        <input type="submit" value="Enviar" style="width:150px;">
    </form>
</div>

<!--     <p style="color:snow;">{{request.POST}}</p>            vemos la info del formulario en pantalla para ver si funciona-->

{%endblock%}
